.cart {
  max-width: 700px;
  margin-left: 40px;

  &__item {
    display: grid;
    grid-gap: 10px;
    padding: 5px 0;
    grid-template-columns: 30px 1fr 80px 30px;
    align-items: center;
    border-bottom: 1px solid #ccc;

    &__amount {
      text-align: center;
    }

    &__logo {
      background-color: #d9d9d9;
      text-align: center;
      height: 50px;
      padding-top: 5px;
    }
  }

  &__price {
    margin: 1em;
    text-align: end;

    &--left {
      text-align: left;
    }

    &__text {
      display: block;

      &--sub {
        font-size: 13px;
        color: #595959;
      }
    }
  }

  @media screen and (max-width: 640px) {
    margin: 0;
  }
}

.payment {
  margin: 0 30px;
  display: flex;

  .title {
    padding-left: 0;
  }

  &__item {
    min-width: 100px;
    line-height: 30px;
    margin: 10px;
    padding: 0 20px;
    background-color: #d9d9d9;
    text-align: center;
    cursor: pointer;
  }

  @media screen and (max-width: 640px) {
    display: block;
  }
}

.amount-change {
  cursor: pointer;
}
