.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1em;

  &__item {
    width: 300px;
    margin-left: 40px;
    margin-top: 1em;
    cursor: pointer;

    &__picture {
      height: 300px;
      width: 300px;
      background-color: white;
      border: 1px solid #ccc;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
      }
    }

    &__price {
      background-color: rgba(249, 249, 249, 0.8);
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      line-height: 50px;
      width: 50px;
      text-align: center;
      position: absolute;
      right: 0;
      bottom: 0;

      &--small {
        display: none;
      }
    }

    &text__main {
      padding-top: 0.2em;
      color: #343434;

      &--sub {
        color: #595959;
        font-size: 12px;
      }
    }

    &.promo {
      .product__item__picture {
        background-color: #9f0df5;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #d9d9d9;

      }
    }
  }

  @media screen and (max-width: 720px) {
    &__item {
      display: grid;
      grid-template-columns: 70px 1fr 70px;
      align-items: center;
      grid-gap: 10px;
      width: 100%;
      margin: 2px 0;

      &__picture {
        width: 70px;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 1;
      }

      &__text {
        display: block;
        grid-column-start: 2;
        grid-column-end: 2;
      }

      &__price {
        display: none;

        &--small {
          display: block;
          grid-column-start: 3;
          grid-column-end: 3;
          text-align: end;
        }
      }
    }
  }
}
