.productitem {
  .description {
    margin: 1em 2em 0 40px;
    max-width: 700px;
  }

  &__image {
    margin-left: 40px;
    width: 300px;
    height: 50vh;
    overflow: hidden;
    border: 1px solid #999;
    background: white;

    img {
      height: auto;
      width: 100%;
    }

    @media screen and (max-width: 640px) {
      width: auto;
      margin-left: 40px;
      margin-right: 2em;
    }
  }

  .add-cart {
    display: flex;
    justify-content: start;
    margin: 2em 0 2em;
    position: relative;

    .amount {
      margin-left: 40px;
    }

    .add-cart {
      margin-left: 40px;
      vertical-align: middle;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 5px 10px;
      margin-top: 0.5em;
    }

    @media screen and (max-width: 640px) {
      padding-bottom: 60px;
      margin-bottom: 0;

      .add-cart {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 50px;
        border-radius: 0;
        padding: 0;
        margin: 0;
      }
    }
  }

  &__stores {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 1em;

    .store {
      margin-left: 40px;

      &--selected {
        .store__image {
          background-color: #9b0df1;
          color: #ccc;
        }
      }

      &__image {
        width: 150px;
        height: 50px;
        line-height: 50px;
        background-color: #ccc;
        text-align: center;
        margin: 0;
        cursor: pointer;
      }

      &__price {
        display: block;
        padding-top: 1em;
        text-align: center;
        width: 100%;
        color: #494949;
      }
    }

    @media screen and (max-width: 640px) {
      display: block;

      .store {
        &__image {
          width: auto;
          margin-right: 2em;
        }

        &__price {
          width: auto;
          margin-right: 2em;
          padding-bottom: 1em;
        }
      }
    }
  }
}
