.promo-banner {
  min-height: 350px;
  line-height: 350px;
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: center;
  overflow: hidden;

  &-chef {
    background-image: url('../../assets/chef.jpg');
    background-size: cover;
    background-position-y: 30%;
  }

  &-food {
    background-image: url('../../assets/food.jpg');
    background-size: cover;
    background-position-y: 20%;
  }

  &--small {
    min-height: 3em;
    line-height: 3em;
  }
}

.promo-text {
  padding: 2em;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    width: 300px;
    margin: 1em;
    line-height: 40px;
    background-color: #d9d9d9;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    color: #343434;
    text-decoration: none;
  }
}
