.contact {
  display: flex;
  margin: 30px;
  align-items: center;

  &__map {
    display: flex;
    width: 40vw;
    height: 40vw;
    max-width: 400px;
    max-height: 400px;
    background-color: #d9d9d9;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    background-image: url('../../assets/map.png');
    background-size: cover;
    border: 2px solid #ccc;
    border-radius: 3px;
  }

  &__info {
    display: flex;
    align-content: center;
    flex-direction: column;

    &__item {
      padding: 15px;
    }
  }

  @media screen and (max-width: 640px) {
    display: block;

    &__map {
      width: auto;
      height: 300px;
      margin-left: 0;
    }
  }
}
