.header {
  padding: 1em;
  background: none;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &_logo {
    flex-grow: 1;

    img {
      width: auto;
      height: 100%;
    }
  }

  &__nav {
    flex-grow: 4;
    line-height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;


    &__item {
      text-decoration: none;
      font-weight: bold;
      padding: 0 2vw;
      color: #343434;

      &--selected {
        color: #ccc;
      }
    }

    .header__nav__cart {
      padding: 0 3vw;
      font-size: 20px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 640px) {
    display: block;

    &__logo {
      display: block;
      width: 80%;
      height: 80px;
    }

    &__nav {
      display: block;
      text-align: center;
      line-height: 50px;
      padding-top: 10px;

      &__cart {
        position: absolute;
        top: 25px;
        right: 0.5em;
        padding: 0.5em 1em;
        font-size: 25px;
        line-height: 85px;
      }
    }
  }
}
