body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  font-weight: bold;
  padding-left: 40px;
  display: block;

  @media screen and (max-width: 640px) {
    margin: 0 0 1em 0;
  }

  &--margin-top {
    margin-top: 20px;
  }
}

.filters {
  padding-left: 2em;

  .search {
    margin-left: 40px;
  }

  @media screen and (max-width: 640px) {
    .search {
      margin-left: 0;
    }
  }
}

.select {
  background: none;
  border: none;
  font-size: 14px;
}

.input {
  border: none;
  border-bottom: 1px solid #343434;
  line-height: 25px;
  font-size: 14px;
  color: #343434;
  background: none;
  min-width: 200px;

  &--address {
    margin-left: 40px;
  }
}

.toast-container {
  position: fixed;
  top: 0;
}
